<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cic.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.cic.entity.po.SysUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="session_key" jdbcType="VARCHAR" property="sessionKey" />
    <result column="user_input_status" jdbcType="SMALLINT" property="userInputStatus" />
    <result column="user_group" jdbcType="VARCHAR" property="userGroup" />
    <result column="is_admin" jdbcType="SMALLINT" property="isAdmin" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
<select id="getUserListByVo" parameterType="com.cic.entity.vo.UserListVo" resultType="com.cic.entity.dto.UserListDTO" >
    SELECT
       t1.uuid as userId,
       t1.user_name as userName,
       t1.open_id as openId,
       to_char(t1.create_time,'YYYY-MM-DD HH24:MI:SS') as createTime,
       t2.uuid as companyId,
       t2.company_name as companyName
    FROM
    sys_user t1 LEFT JOIN sys_company t2 ON t1.company_id = t2.uuid
    WHERE 1=1
    <if test=" openId != null and openId != '' " >
      AND   t1.open_id = #{openId}
    </if>
    <if test=" companyId != null and companyId != '' " >
      AND t1.company_id = #{companyId}
    </if>
    <if test=" userName != null and userName != '' " >
      AND t1.user_name LIKE CONCAT('%',#{userName},'%')
    </if>
</select>
</mapper>